/*noinspection CssUnknownTarget*/
/*@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;800&display=swap');*/

@tailwind base;
@tailwind components;
@tailwind utilities;


body,html{
    margin: 0;
    overflow-x:hidden;
    /*overflow-y: hidden;*/
    cursor: crosshair;
    background-color: white;
    font-family: 'Nixie One', cursive;
}

body h1, h2, p, span, button, a, input{
    @apply font-paragraph z-50
}

.svg-art > path {
    fill: red;
}




h1,h2,p,span,button,a,input,tr,td,th,div{
    z-index: 100;
    cursor: crosshair;
}


a{
    text-decoration: none;
    @apply text-blue-900 hover:text-amber-800
}





.form-input-group{
    @apply p-4 flex w-1/2 justify-between border-r border-black
}
.form-input-group input,textarea {
    background: rgba(42, 44, 44, 0.07);
    min-width: 240px;
    max-width: 460px;
    resize:inline;
}
.form-input-group input:hover,textarea:hover {
    border: dashed 1px gray
}
.form-input-group input:focus,textarea:focus{
    outline: none;
}




.bg-img{
    /*animation: vertical 1800s alternate infinite ease-in-out;*/
    @apply opacity-80 h-[220px] w-[220px]  hover:opacity-100
}





body{
    /*animation: hue-rotation 10s infinite alternate linear;*/
}

.footer-section{
    /*background-size: */
    background: url('../public/assets/art/Hanuman Banner.svg') center ;
}
.footer-section:hover p{
    /*transform: scale(1.2);*/
    transform: translateY(-36px) scale(1.2);
}
/**/

.lib-sidebar{

}

.lib-sidebar h1{
    @apply font-bold text-sm underline
}
.lib-sidebar a{
    @apply text-pink-600 hover:text-emerald-900 hover:translate-x-0.5
}
/*.lib-sidebar div a{*/
/*    @apply text-emerald-700 hover:text-amber-600*/
/*}*/
.lib-sidebar button{
    @apply text-red-300 hover:text-red-500
}



.column-slider-wrapper{
    height: calc(100vh - 180px);
}
div.row-slider-content{
    height: calc(100vh - 180px);
}


.column-slider-content{
align-items: center;
}




/*///*/



@keyframes hue-rotation {
    0% {
        color: #01233a;
    }
    100% {
        color: #030303;
    }
}







