/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body,html{
    margin: 0;
    /*padding: 2px;*/
    /*overflow: hidden;*/
    overflow-x:hidden;

}
@font-face {
    font-family: 'Inconsolata', monospace;
    src: local('Paper'),
    url('../public/font/Inconsolata/Inconsolata-VariableFont.ttf') format('ttf')
}

.background{
/*overflow-y:hidden;*/
}


.form-input-group{
    @apply p-4 flex w-1/2 justify-between border-r border-black
}
.form-input-group input,textarea {
    background: rgba(42, 44, 44, 0.07);
    min-width: 240px;
    max-width: 460px;
    resize:inline;
}
.form-input-group input:hover,textarea:hover {
    border: dashed 1px gray
}
.form-input-group input:focus,textarea:focus{
    outline: none;
}

.is-active{
    @apply border-2 border-black
}


.bg-img{
    animation: vertical 400s  linear infinite alternate-reverse;
    @apply opacity-60 -z-10 h-[220px] w-[220px] mix-blend-overlay
}





/*///*/

@keyframes color{
    0%{
        background: #f3f4f6;
    }
    100%{
        background: #1f2937;
    }
}

@keyframes vertical {
    0%{
        transform: translateY(-40px);
    }
    80% {
        transform: translateX(-10px);

    }
    90%{
        transform: translateX(10px);

    }
    100%{
        transform: translateY(100px);

    }
}




