/*noinspection CssUnknownTarget*/
/*@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;800&display=swap');*/

@tailwind base;
@tailwind components;
@tailwind utilities;


body,html{
    margin: 0;
    overflow-x:hidden;
    /*overflow-y: hidden;*/
    cursor: crosshair;
    background-color: white;
    font-family: 'Nixie One', cursive;
}

.svg-art > path {
    fill: red;
}




h1,h2,p,span,button,a,input{
    z-index: 100;
    cursor: crosshair;
}
a{
    text-decoration: none;
}
/*@font-face {*/
/*    font-family: 'Inconsolata', monospace;*/
/*    src: local('Paper'),*/
/*    url('../public/font/Inconsolata/Inconsolata-VariableFont.ttf') format('ttf')*/
/*}*/

.background{
/*overflow-y:hidden;*/
}




.form-input-group{
    @apply p-4 flex w-1/2 justify-between border-r border-black
}
.form-input-group input,textarea {
    background: rgba(42, 44, 44, 0.07);
    min-width: 240px;
    max-width: 460px;
    resize:inline;
}
.form-input-group input:hover,textarea:hover {
    border: dashed 1px gray
}
.form-input-group input:focus,textarea:focus{
    outline: none;
}




.bg-img{
    /*animation: vertical 1800s alternate infinite ease-in-out;*/
    @apply opacity-80 h-[220px] w-[220px]  hover:opacity-100
}


.bg-wrapper{
    @apply animate-vertical
}


body{
    animation: hue-rotation 10s infinite alternate linear;
}
body h1, h2, p, span, button, a, input{
    @apply font-paragraph
}
.footer-section{
    /*background-size: */
    background: url('../public/assets/art/Hanuman Banner.svg') center ;
}
.footer-section:hover p{
    /*transform: scale(1.2);*/
    transform: translateY(-36px) scale(1.2);
}
/**/

.lib-sidebar{

}

.lib-sidebar h1{
    @apply font-bold text-sm underline
}
.lib-sidebar a{
    @apply text-blue-200 hover:text-amber-400
}
.lib-sidebar button{
    @apply text-red-300 hover:text-red-500
}



.column-slider-wrapper{
    height: calc(100vh - 180px);
}


.column-slider-content{

}




/*///*/



@keyframes hue-rotation {
    0% {
        color: #01233a;
    }
    100% {
        color: #030303;
    }
}







